.navbar-nav {
    margin: 0 auto; 
}

.jumbotron {
    text-align: center;
    margin: 0;
}

.navbar{
    padding: 0;
}

.container {
    margin-top: 50px;
}

.card   {
    height: 75px;
    margin: 15px;
    text-align: center;
    line-height: 75px;
}

footer {
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-top: 25px;
    margin-bottom: 0;
}

footer p {
    margin: 0;
}